body{
    margin:0;
    padding:0;
}
header{
    position:fixed;
    height:120px;
    width:100vw;
    background:white;
    text-align:center;
    border-bottom:1px solid lightgray;
    z-index:10;
}
h1{
    position:fixed;
    top:30px;
    width:100%;
    text-align:center;
}
.container{
    position:relative;
    top:150px;
    transition:all 0.3s linear;
}
.list-group{
    padding:0;
    margin:0;
    list-style-type:none;
    background:lime;
}
.btn{
    position:relative;
    width:100px;
}
a{
    color:white;
}